node_modules/

logs/
*.log
npm-debug.log*

pids/
*.pid
*.seed
*.pid.lock

.env
.env.local
.env.*.local

dist/
build/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

npm-debug.log*

._*

coverage/

*.swp
*.swo
